@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --hdj-black: rgb(0, 0, 0, 0.85);
    --hdj-white: rgb(255, 255, 255, 0.9);
    --hdj-gray: rgba(26, 26, 26, 0.8);
    --hdj-bg: rgb(245, 245, 245);
    --hdj-primary: rgb(56, 53, 120);
    --hdj-primary-faded: rgb(56, 53, 120, 0.08);
    --hdj-secondary: rgb(255, 211, 104);
    --hdj-secondary-faded: rgb(255, 211, 104, 0.08);
}

body {
    background: #ffffff;
    color: var(--hdj-black);
    font-family: var(--font-lato);

    h1, h2, h3, h4, h5, h6 {
        color: var(--hdj-primary);
        font-family: var(--font-lato);
    }

    p, a, li {
        font-family: var(--font-lato);
        color: var(--hdj-black);
    }
}